# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Some of the popular languages that Data Scientists use are:** 
1. Python.
2. R.
3. SQL.
4. Julia.

**Some of the commonly used libraries used by Data Scientists include:**
1. Pandas
2. Numpy
3. Matplotlib
4. ggplot
5. Tensorflow


|Data Science Tools|
|------------------| 
|*VS code*           | 
|*Jupiter Notebook*  |  
|*Google Colab*      |

### *Below are a few examples of evaluating arithmetic expressions in Python* ###

In [3]:
"""This is a simple arithmetic
expression to mutiply then add integers."""

(3*4)+5

17

In [7]:
"This will convert 200 minutes to hours by dividing by 60"

minutes = 200
hours = round(minutes/60, ndigits=2)
print(hours)

3.33

**Objectives:**

- List popular languages for Data Science. 
- popular libraries for Data Science. 
- Open Source Development Environment for Data Science.

## Author
Mbachu Emmanuel